api_django/media
api/photos/load_photos_dir
bin/
test_images/
ui/dist/index.html
ui/dist/app*.js
node_modules/
.DS_STORE
.vscode/
config.py
db.sqlite3
__pycache__/
media/
static/
api_django/db.sqlite3
input_photos/
output_photos/
output_json/