:root {
  --doc-height: 100%;
  --doc-height: 100%;
  --color-primary: rgb(5 112 191);
  --color-foreground: rgb(66, 66, 66);
  --color-background: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Satoshi';
  src: url('./public/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  background-color: var(--color-black);
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Satoshi', sans-serif;
  color: var(--color-light-grey);

  /* Start CSS that's same as TitleBar.tsx */
  margin: 4rem;
  @media (max-width: 768px) {
    margin: 0rem;
  }
  /* End CSS that's same as TitleBar.tsx */
}

h1,
h2,
h3,
p,
li {
  color: var(--color-foreground);
}
